@import "tailwindcss";

@theme {
    --color-primary: #B4BCBF;
    --color-secondary: #1C2426;
    --color-accent: #D92929;
}

.hide-scroll-track::-webkit-scrollbar{
    width: 5px;
}
.hide-scroll-track::-webkit-scrollbar-track{
    background: transparent;
}
.hide-scroll-track::-webkit-scrollbar-thumb{
    background: linear-gradient(#D92929, #1C2426);
    border-radius: 3px;
}